/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Duckhunt";
  src:font-url('duckhunt.ttf');
}
@font-face {
  font-family: "Haettenschweiler";
  src:font-url('Haettenschweiler.ttf');
}



.angular-google-map-container {
  width: 100%;
  height: 500px;
}

.container-fluid {
  margin-top: 175px
}
.map-container-fixed {
  position: fixed;
  top: 0;
  height: 550px;
  width: 100%;
  padding-top: 175px;
  margin-left: -15px;
}

.main-view {
  margin-top: 450px;
  background-color: white;
  opacity: .95;
  height: 2000px;
}
.navbar-fixed-top {
  height: 175px;
}
ul.nav {
  padding-right: 25px;
  float: right;
  display: inline-block;
  clear: both; 
}
.navbar-brand {
  padding-left:25px;
}
.font-primary {
  font-family: "Duckhunt";
}
.font-secondary {
  font-family: "Haettenschweiler";
}
img.navbar-nav {
  margin-right: 25px;
  margin-bottom: 25px;
}
a.navbar-nav-rgiht {
  margin-right: 25px;
  margin-bottom: 25px;
}

/* For X button on truck detail and graph pages */
a.btn.btn-info.x {
  float:right;
  margin-right: 5px;
  margin-top: 25px;
  background-color: #05dbfc;
}

a.tagline {
  margin-right: 25px;
  margin-top: 85px;
  position: relative;
  display: inline-block;
  clear: both; 
}

/* Truck index page styling */

  ul.pager {
    position: relative;
    bottom: 275px;
  }

  li.previous {
    font-family: 'Duckhunt';
    font-size: 72px;
    float: left;
    z-index: -1;
  }
  li.next {
    font-family: 'Duckhunt';
    font-size: 72px;
    float: right;
    z-index: -1;
  }
  li.previous > a,
  li.next > a {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    color: #03D9FD;
    z-index: 1;

  }
  .truck-box {
    width: 300px;
    height: 155px;
    margin: auto;
    margin-top: 20px;
    background-image:image-url("truck-white.png");
    background-size:contain;
    z-index: 1;
  }
  .truck-box:active {
      width: 300px;
    height: 155px;
    margin: auto;
    margin-top: 20px;
    background-image:image-url("truck-blue.png");
    background-size:contain;

  }
  .centered {
    margin: auto;
    text-align: center;
  }

  .filters {
    padding: 20px 0;
    margin: 10px 0 !important;
    background-color: gray;
  }
  .blue {
    color: #03D9FD;
  }
  .brown {
    color: brown;
  }
  .gray {
    color: gray;
  }
  .black-bg {
    background-color: black;
  }
  p.font-primary > strong {
    font-size: 65px;
  }

  .centered-results {
    text-align: center;
    line-height: 1px;
    margin-bottom: -125px;
  }
  p.h1.brown {
    margin-top: -56px;
  }
  p.h1.font-secondary {
    margin-top: -25px;
    font-size: 80px;
    color: white;
    padding-left: 5px;
  }
  .marker-count {
    display: inline-block;
    position: relative;
    top: -161px;
    right: -155px;
  }

/* Truck Graph page styling */
.truck-graph {
  background-color: black;
  display: inline-block;
  float: right;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 40px;
}




