/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Duckhunt";
  src:font-url('duckhunt.ttf');
}
@font-face {
  font-family: "Haettenschweiler";
  src:font-url('Haettenschweiler.ttf');
}



.angular-google-map-container {
  width: 100%;
  height: 500px;
}

.container-fluid {
  margin-top: 175px
}
.map-container-fixed {
  position: fixed;
  top: 0;
  height: 550px;
  width: 100%;
  padding-top: 175px;
  margin-left: -15px;
}

.main-view {
  margin-top: 450px;
  background-color: white;
  opacity: .95;
  // height: 2000px;
}
.navbar-fixed-top {
  height: 175px;
}
ul.nav {
  padding-right: 25px;
  float: right;
  display: inline-block;
  clear: both; 
}
.navbar-brand {
  padding-left:25px;
}
.font-primary {
  font-family: "Duckhunt";
}
.font-secondary {
  font-family: "Haettenschweiler";
}
img.navbar-nav {
  margin-right: 25px;
  margin-bottom: 25px;
}
a.navbar-nav-right {
  margin-right: 25px;
  margin-bottom: 25px;
}

/* For X button on truck detail and graph pages */
a.btn.btn-info.x {
  float:right;
  margin-right: 5px;
  margin-top: 25px;
  background-color: #05dbfc;
}
a.btn.btn-info.btn-lg.x {
  margin-top: 5px;
}

a.tagline {
  margin-right: 25px;
  margin-top: 85px;
  position: relative;
  display: inline-block;
  clear: both; 
}

/* Truck index page styling */
/* RAMIS SECTION */


/* Page turner buttons on index */
ul.pager {
  position: relative;
  bottom: 275px;
  height: 1px;
}

li.previous {
  font-family: 'Duckhunt';
  font-size: 72px;
  float: left;
}
li.next {
  font-family: 'Duckhunt';
  font-size: 72px;
  float: right;
}
li.previous > a,
li.next > a {
  background-color: rgba(0,0,0,0) !important;
  border: none !important;
  color: #03D9FD;

}

/* Pagination controls */
ul.pagination {
  font-family: 'Duckhunt';
  position: relative;
  bottom: 25px;
}
ul.pagination > li.active > a {
  background-color: #03D9FD;
}
ul.pagination > li > a {
  color: #03D9FD;
}

/* Truck displays on index */
.truck-box {
  width: 300px;
  height: 155px;
  margin: auto;
  margin-top: 20px;
  background-image:image-url("truck-white.png");
  background-size:contain;
}
.truck-box:active {
    width: 300px;
  height: 155px;
  margin: auto;
  margin-top: 20px;
  background-image:image-url("truck-blue.png");
  background-size:contain;
}
.centered {
  margin: auto;
  text-align: center;
}

.filters {
  padding: 20px 0;
  margin: 10px 0 !important;
  background-color: gray;
}
.blue {
  color: #05dbfc;
}
.brown {
  color: #bd876f;
}
.gray {
  color: gray;
}
.white {
  color: white;
}
.black {
  color: black;
}
.black-bg {
  background-color: black;
}
p.font-primary > strong {
  font-size: 65px;
}

.centered-results {
  text-align: center;
  line-height: 1px;
  margin-bottom: -125px;
}
p.h1.brown {
  margin-top: -56px;
}
p.h1.font-secondary {
  margin-top: -25px;
  font-size: 80px;
  color: white;
  padding-left: 5px;
}
.marker-count {
  display: inline-block;
  position: relative;
  top: -161px;
  right: -155px;
}

/* Truck Graph page styling */
.truck-graph {
  background-color: black;
  display: inline-block;
  float: right;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 40px;
}
/* Footer Styling */
.empty-division {
  height: 500px;
}
.footer {
  z-index: 1000;
  width: 100px;
  background-color: black;
  bottom: 0;
}
/* Truck Detail Styling */
.darkgrey-bg {
  background-color: darkgrey;
  display: inline-block;
  float: right;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 25px;

}

.logo-set img{
  margin-top: 25px;
}

.large-title {
  font-size: 8em;
  margin-top: 25px;
  margin-left: 25px;
  line-height: .75em;
}

.line-brown {
  height: 5px; 
  width: 75%;
  color: #bd876f;
  background-color: #bd876f;
  text-align: center;
  margin-left: 25px;
  margin-top: -1px;
  margin-bottom: 10px; 
}
.large-subtitles {
  font-size: 3.5em;
  margin-top: 5px;
  margin-left: 25px;
  text-decoration: none;
  display: inline-block;
} 
.medium-subtitles {
  font-size: 2.25em;
  margin-top: 10px;
  margin-left: 25px;
  text-decoration: none;
  display: inline-block;
}
.genres {
  margin: 0 5px;
  font-size: .75em;
  padding: auto; 
}
.divider {
  margin: 0 5px;
}
.review-text {
  font-size: 1.75em;
  font-style: italic;
  display: block;
  text-align: center;
 }
.no-padding-left{ 
  padding-left: 0;
}
.yelp-image{
  padding: 0;
  border-radius: 5px;
  text-align: center;
  margin-left: 1em;
  margin-top: 5px;
}
