
<div class="map-container-fixed container">
  <ui-gmap-google-map center='map.center' options='map.options' zoom='map.zoom'>
    <ui-gmap-markers models="markers" coords="'self'" click="'onClick'">
      <ui-gmap-windows show="'show'">
        <div ng-non-bindable>
          <h3><a href="#/trucks/{{truck.id}}">{{truck.name}}</a></h3>
          <p>{{truck.genre}}</p>
          Near:
          <p>{{address}}</p>
          Until:
          <p>{{end_time | date:'shortTime'}}</p>
          Distance:
          <p>{{distance | number: 1 }}</p>
          Message: {{truck.tweet_most_recent}}
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
<div class="filters"></div>
<div class="main-view">
  <a ui-sref="home.trucks">trucks</a>
  <a ui-sref="home.truck-detail">truck-details</a>
  <a ui-sref="home.truck-graph">trucks-graph</a>

  <div ui-view></div>
</div>