<div class="map-container-fixed container">
  <ui-gmap-google-map center='map.center' options='map.options' zoom='map.zoom'>
    <ui-gmap-markers models="markers" coords="'self'" click="'onClick'">
      <ui-gmap-windows show="'show'">
        <div ng-non-bindable>
            <a class="infowindow font-secondary" href="#/trucks/{{truck.id}}">
              <%= image_tag 'truck-blue.png' %>
              <h4>{{truck.name}} | {{distance | number: 1}} miles</h4>
              <p>Near: {{address}}</p>
              <p>Until: {{end_time | date:'shortTime'}}</p>
            </a>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
<div class="filters"></div>
<div class="main-view">
  <div ui-view></div>
</div>

<style>
a.infowindow,
a.infowindow:hover {
  text-decoration: none;
  color: black;
}

</style>