<h2>Trucks.html.erb</h2>

<p ng-repeat="t in truck.sixTrucks">{{t.name}}</p>


<pagination total-items="truck.trucks.length" ng-model='truck.currentPage' items-per-page=6 ng-change="truck.pageChanged()">{{truck.trucks}} </pagination>



