<div class="black-bg">
<!-- This div contains the three filters -->
<div class="row filters">
  <div class="col-xs-4 text-center">
    Food type filter
    <select ng-model="home.genre" ng-change="applyFilters()">
      <option value="All">All</option>
      <option value="American">American</option>
      <option value="Asian Fusion">Asian Fusion</option>
      <option value="Burgers">Burgers</option>
    </select>
  </div>
  <div class="col-xs-4 text-center">
    Distance filter
    <select ng-model='home.distance' ng-change='applyFilters()'>
      <option value="1">Within 1 mile</option>
      <option value="5">Within 5 miles</option>
      <option value="15">Within 15 miles</option>
      <option value="100">Any distance</option>
    </select>
  </div>
  <div class="col-xs-4 text-center">
      <div class="btn-group">
          <label class="btn btn-primary btn-sm" ng-model="home.radioModel" ng-click="applyFilters()" btn-radio="'All'">Show All</label>
          <label class="btn btn-primary btn-sm" ng-model="home.radioModel" ng-click="applyFilters()" btn-radio="'Favorites'">Only Favorites</label>
      </div>
  </div>
<br>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 centered-results">
    <p class="font-primary h1 blue"><strong>TRUCK</strong></p> 
    <p class="h1 brown">____________</p> 
    <p class="font-secondary h1">RESULTS</p>
    <div class="font-primary h1 marker-count"><br>({{markers.length}})</div>
  </div>
  <div class="col-md-1">
  </div>
</div>
<!-- Row for the 6 trucks display -->
<h3 class="font-primary">{{flash}}</h3>
<div class="row">
  <div class="col-md-4 text-center" ng-repeat="t in sixMarkers">
    <div class="truck-box">
      <!-- set this divs background image to be the truck image we want -->
    </div>  
    <span class="font-secondary blue h3">{{t.truck.name}}</span>
    <span class="brown h3">|</span>
    <span class="font-secondary gray h3"> {{t.distance | number: 1}} miles</span>
  </div>
</div>

<!-- Pagination controls -->
<br>
<div class="centered">
  <pagination total-items="markers.length" ng-model='home.currentPage' items-per-page=6 ng-change="home.pageChanged()"></pagination>
</div>

</div>


<!-- Styling for 6 trucks display -->
<style>
.truck-box {
  width: 300px;
  height: 155px;
  margin: auto;
  margin-top: 20px;
  background-image:url("assets/truck-white.png");
  background-size:contain;
}
.truck-box:active {
    width: 300px;
  height: 155px;
  margin: auto;
  margin-top: 20px;
  background-image:url("assets/truck-blue.png");
  background-size:contain;

}
.centered {
  margin: auto;
  text-align: center;
}

.filters {
  padding: 20px 0;
  margin: 15px 0 !important;
  background-color: gray;
}
.blue {
  color: #03D9FD;
  font-weight: 200;
}
.brown {
  color: brown;
}
.gray {
  color: gray;
}
.black-bg {
  background-color: black;
}
p.font-primary > strong {
  font-size: 65px;
}

.centered-results {
  text-align: center;
  line-height: 1px;
  margin-bottom: -125px;
}
p.h1.brown {
  margin-top: -56px;
}
p.h1.font-secondary {
  margin-top: -25px;
  font-size: 80px;
  color: white;
}
.marker-count {
  display: inline-block;
  position: relative;
  top: -161px;
  right: -155px;
}

</style>