<div class="black-bg">
<!-- This div contains the three filters -->
  <div class="row filters">
    <div class="col-xs-4 text-center">
      Food type filter
      <select ng-model="home.genre" ng-change="applyFilters()">
        <option value="All">All</option>
        <option value="American">American</option>
        <option value="Asian Fusion">Asian Fusion</option>
        <option value="Burgers">Burgers</option>
      </select>
    </div>

    <div class="col-xs-4 text-center">
      Distance filter
      <select ng-model='home.distance' ng-change='applyFilters()'>
        <option value="1">Within 1 mile</option>
        <option value="5">Within 5 miles</option>
        <option value="15">Within 15 miles</option>
        <option value="100">Any distance</option>
      </select>
    </div>
    <div class="col-xs-4 text-center">
        <div class="btn-group">
            <label class="btn btn-primary btn-sm" ng-model="home.radioModel" ng-click="applyFilters()" btn-radio="'All'">Show All</label>
            <label class="btn btn-primary btn-sm" ng-model="home.radioModel" ng-click="applyFilters()" btn-radio="'Favorites'">Only Favorites</label>
        </div>
    </div>
  <br>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 centered-results">
      <p class="font-primary h1 blue"><strong>TRUCK</strong></p> 
      <p class="h1 brown">____________</p> 
      <p class="font-secondary h1">RESULTS</p>
      <div class="font-primary h1 marker-count"><br>({{markers.length}})</div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
<!-- Row for the 6 trucks display -->
  <h3 class="font-primary">{{flash}}</h3>
  <div class="row">
    <div class="col-md-4 text-center" ng-repeat="t in sixMarkers">
      <a href="#/trucks/{{t.truck.id}}">
        <div class="truck-box">
        <!-- set this divs background image to be the truck image we want -->
        </div> 
      </a> 
        <span class="font-secondary blue h3"><a href="#/trucks/{{t.truck.id}}">{{t.truck.name}}</a></span>
        <span class="brown h3">|</span>
        <span class="font-secondary gray h3"> {{t.distance | number: 1}} miles</span>
    </div>
  </div>

<!-- Pagination controls -->
  <pager total-items="markers.length" previous-text="<" next-text=">" items-per-page=6 ng-model="home.currentPage" ng-change="home.pageChanged()"></pager>
  <br>
  <div class="centered">
    <pagination total-items="markers.length" ng-model='home.currentPage' items-per-page=6 ng-change="home.pageChanged()"></pagination>
  </div>
</div>


