<div class="darkgrey-bg">
    <button class="btn btn-default btn-lg font-secondary" ng-class="{'btn-success':detail.isFavorite, 'btn-default':!detail.isFavorite}" ng-click="detail.toggleFavorite()">{{detail.pre}}Favorite{{detail.post}}</button>
    <a class="btn btn-info btn-lg x" ui-sref="home.trucks"><span class="glyphicon glyphicon-remove"></span></a>
    <!-- <h1 class="jumbotron text-center clearfix">Truck Details</h1> -->
    <div class="row">
      <div class="col-md-4 logo-set">
        <%= image_tag "logo-details.png", width:275 %>
      </div>
      <div class="col-md-4 basic-graph">
        <a href="#/truck-graph">
          <%= image_tag "truck-graph-01.png", width:400 %>
        </a>
      </div>
    </div>  
    <div class="row">
      <h1 class="font-secondary blue large-title">
        {{ detail.truck.name }}:
      </h1>
      <p class="line-brown"></p>
    </div> 
    <div class="row">  
      <div class="font-secondary large-subtitles white">
        <a href="{{ detail.yelpdata.url }}" class="white">Yelp ID : <span class="gray">{{ detail.yelpdata.id }}</span>  | </a>
         <img ng-src="{{detail.yelpdata.rating_img_url}}" alt ="Yelp Supplied Photo" height="25">
      </div>  
    </div>
    <div class="row">  
      <h3 class="font-secondary medium-subtitles white">More Truck Info:</h3>
      <span class="font-secondary medium-subtitles black">phone: {{ detail.yelpdata.display_phone }}</span>
    </div>
    <div>
      <div class="row">  
        <h3 class="font-secondary medium-subtitles white">Food genre: <span class="label label-info genres black" ng-repeat="i in detail.yelpdata.categories">    {{ i[0] }}   </span></h3>
      </div>
<!--       <div class="col-lg-6 yelp-image">
        <img ng-src="{{detail.yelpdata.image_url}}" alt="Mountain View" style="width:304px;height:228px">
      </div>   --> 
      <div class="row">
        <div class="col-xs-6 no-padding-left">
          <h3 class="font-secondary medium-subtitles white">Latest review:</h3>
          <span class="font-secondary medium-subtitles black">rating: {{ detail.yelpdata.reviews[0].rating }} <span class="white divider"> | </span>
            date: {{ detail.yelpdata.reviews[0].time_created | date: 'MMM dd yyyy' }}</span>
          <h3 class="font-secondary review-text grey">--"{{ detail.yelpdata.reviews[0].excerpt }}"</h3>
        </div> 
      </div>      
    </div>
</div>