<!DOCTYPE html>
<html>
<head>
  <title>Project03</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP_KEY']}"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app='truckApp'>
<div class="container-fluid">

<%= yield %>

</div>
</body>
</html>
